
<h2>Add Sale</h2>
<div>
  <label>
    Product:
    <select [(ngModel)]="toAdd.ProdID">
      <ng-container *ngFor="let product of allProducts">
        <option  value="{{product.id}}">{{product.name}}</option>
      </ng-container>
    </select>
  </label>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" id="Amount" [(ngModel)]="toAdd.AmtSold" type="number"/>
    <label for="Amount" class="mdl-textfield__label">Quantity...</label>
  </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="addSale()">
      Add Item
    </button>
  <br/>
</div>

<br/>

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">ID</th>
      <th class="mdl-data-table__cell--non-numeric">ProdID</th>
      <th class="mdl-data-table__cell--non-numeric">TransID</th>
      <th class="mdl-data-table__cell--non-numeric">Unit Price</th>
      <th class="mdl-data-table__cell--non-numeric">Amount</th>
      <th class="mdl-data-table__cell--non-numeric">Total</th>
      <th></th>
    </tr>
  </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <td><b>Total:</b></td>
      <td>{{total | currency : "AUD" : 2}}</td>
    </tr>
  </tfoot>
  <tbody>
    <ng-container *ngFor="let sale of newTransaction">
    <tr>
      <td>auto</td>
      <td>{{sale.ProdID}}</td>
      <td>{{sale.TransID}}</td>
      <td>{{sale.UnitPrice | currency: "AUD" : 2}}</td>
      <td>{{sale.AmtSold}}</td>
      <td>{{sale.AmtSold*sale.UnitPrice}}</td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-color--red" (click)="remove(sale.ID)">
            <i class="material-icons">clear</i>
        </button>
      </td>
    </tr>
    </ng-container>
  </tbody>
</table>


<div>
      <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Confirm" (click)="saveTransaction()"/>

  <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset" value="Clear" (click)="clear()"/>
  <a routerLink="/Transactions">
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Cancel">
  </a>
</div>