
<style> 
  .tbody{
    min-height:412px;
  }
</style>

<h2>Sales History</h2>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col">
    <p><strong>Current Selected ID:</strong> {{this.selectedID}}</p>
    <label for="empSort">
      <input type="checkbox" name="EmployeeSort" id="empSort" 
      ng-model="empSort" value="employeeSort"/> Sort By EmployeeID
    </label>
    <div class="mdl-selectfield mdl-js-selectfield">
      EmployeeID: 
      <select name="EmployeeId" id="EmployeeId" class="mdl-selectfield__select" ng-model="employeeID">
          <option *ngFor="let employee of employees" [value]="employee.ID">
          {{employee.ID}}
          </option>
      </select>
    </div>
    <br/>
    <label for="monthSort">
        <input type="checkbox" name="MonthSort" id="monthSort" 
        ng-model="sortMonth" value="monthSort"/> Sort By Month
    </label>
    <div class="mdl-selectfield mdl-js-selectfield">
      Month
      <select name="month" id="month" class="mdl-selectfield__select" ng-model="selectedMonth">
          <option *ngFor="let month of months" [value]="month">
          {{month}}
          </option>
      </select>
  </div>

    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" >
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>EmployeeID</th>
          <th>Status</th>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions" (click)="selectTransaction(transaction.ID)">
          <td>{{transaction.ID}}</td>
          <td>{{transaction.EmployeeID}}</td>
          <td>{{transaction.Status}}</td>
          <td>{{transaction.Date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
    <button *ngIf="state.skip != 0" (click)="paginate('left')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
      <i class="material-icons">chevron_left</i>
    </button>
    
      page {{page}} of {{maxPage}}

    <button *ngIf="state.skip < (maxPage*state.take - state.take)" (click)="paginate('right')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
      <i class="material-icons">chevron_right</i>
    </button>
  </div>
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--6-col">
      <p><strong>Sales:</strong></p>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">ID</th>
          <th class="mdl-data-table__cell--non-numeric">ProdID</th>
          <th class="mdl-data-table__cell--non-numeric">TransID</th>
          <th class="mdl-data-table__cell--non-numeric">Product Name</th>
          <th class="mdl-data-table__cell--non-numeric">Type</th>
          <th class="mdl-data-table__cell--non-numeric">Amount Sold</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sale of sales">
          <tr>
            <td>{{sale?.ID}}</td>
            <td>{{sale?.ProductID}}</td>
            <td>{{sale?.TransactionID}}</td>
            <td>PRODUCT NAME</td>
            <td>PRODUCT TYPE</td>
            <td>{{sale?.Amt}}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>

    <button (click)="updateStatus()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Change Status</button>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Print CSV" (click)="printCSV()"/>
  </div>
</div>