<h2>Sales History</h2>
<div class="mdl-cell mdl-layout_row">
  <div class="mdl-cell mdl-cell--6-col">
      <p><strong>Current Selected ID:</strong> {{this.selectedID}}</p>
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" >
      <thead>
        <tr>
          <th>Transaction ID</th>
          <th>EmployeeID</th>
          <th>Status</th>
          <th class="mdl-data-table__cell--non-numeric">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions" (click)="selectTransaction(transaction.ID)">
          <td>{{transaction.ID}}</td>
          <td>{{transaction.EmployeeID}}</td>
          <td>{{transaction.Status}}</td>
          <td>{{transaction.Date | date:'dd/MM/yyyy'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-cell mdl-cell--6-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">ID</th>
          <th class="mdl-data-table__cell--non-numeric">ProdID</th>
          <th class="mdl-data-table__cell--non-numeric">TransID</th>
          <th class="mdl-data-table__cell--non-numeric">Product Name</th>
          <th class="mdl-data-table__cell--non-numeric">Type</th>
          <th class="mdl-data-table__cell--non-numeric">Amount Sold</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let sale of sales">
        <tr *ngIf="sale.TransID == selectedID">
          <td>{{sale?.ID}}</td>
          <td>{{sale?.ProdID}}</td>
          <td>{{sale?.TransID}}</td>
          <td>{{sale?.ProdName}}</td>
          <td>{{sale?.ProdType}}</td>
          <td>{{sale?.AmtSold}}</td>
        </tr>
        </ng-container>
      </tbody>
    </table>
    <button (click)="updateStatus()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Change Status</button>
    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Print CSV" (click)="printCSV()"/>
  </div>
</div>