<!--<div>
  THIS WILL BE THE UI!

  <button (click)="getTheData('ID00001')">BUTTON</button>
</div>-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
            <a class="mdl-navigation__link" href=""><span class="mdl-layout-title">People Health Pharmacy Inc.</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. (currently hidden)
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/Sales" routerLinkActive="active">ENTRY FORM</a>
        <a class="mdl-navigation__link" routerLink="/Data" routerLinkActive="active">DATA ANALYSIS</a>
      </nav> -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Navigation</span>
    <nav class="mdl-navigation">

      <a class="mdl-navigation__link"  routerLink="/Sales" routerLinkActive="active">Add New Transaction</a>
      <a class="mdl-navigation__link"  routerLink="/Transactions" routerLinkActive="active">Transaction Log</a>
      <a class="mdl-navigation__link"  routerLink="/Item" routerLinkActive="active">Add New Inventory Product</a>
      <a class="mdl-navigation__link"  routerLink="/Inventory" routerLinkActive="active">Display Product Inventory</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
           <div class="mdl-cell mdl-cell--1-col"></div>
           <div class="mdl-cell mdl-cell--11-col">
             <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </main>
</div>
