<!--<div>
  THIS WILL BE THE UI!

  <button (click)="getTheData('ID00001')">BUTTON</button>
</div>-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
            <a class="mdl-navigation__link" href=""><span class="mdl-layout-title">People Health Pharmacy Inc.</span></a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. (currently hidden)
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" routerLink="/Sales" routerLinkActive="active">ENTRY FORM</a>
        <a class="mdl-navigation__link" routerLink="/Data" routerLinkActive="active">DATA ANALYSIS</a>
      </nav> -->
      <div *ngIf="!LoggedIn">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input type="text" name="empID" id="empID" ng-model="loggedID" class="mdl-textfield__input mdl-color-text--white"/>
          <label for="empID" class="mdl-textfield__label">Employee ID</label>
        </div>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="button" value="Login" (click)="logIn()"/>
      </div>
      <div *ngIf="loggedIn">
          <span class="mdl-chip mdl-chip--contact">
              <span class="mdl-chip__contact mdl-color--deep_orange mdl-color-text--black">ID:</span>
              <span class="mdl-chip__text" style="min-width:200px; text-align:right;">{{loggedId}}</span>
          </span>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="button" value="Log Out" (click)="logOut()"/>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Navigation</span>
    <nav class="mdl-navigation">

      <a class="mdl-navigation__link"  routerLink="/Sales" routerLinkActive="active">Add Sale</a>
      <a class="mdl-navigation__link"  routerLink="/Transactions" routerLinkActive="active">Sales History</a>
      <a class="mdl-navigation__link"  routerLink="/Item" routerLinkActive="active">Add Product</a>
      <a class="mdl-navigation__link"  routerLink="/Inventory" routerLinkActive="active">Display Product Inventory</a>
      <a class="mdl-navigation__link"  routerLink="/EmployeeForm" routerLinkActive="active">Add Employee</a>
      <a class="mdl-navigation__link"  routerLink="/Employees" routerLinkActive="active">Employees</a>
      <a class="mdl-navigation__link"  routerLink="/DataAnalysis" routerLinkActive="active">Data Analysis</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
           <div class="mdl-cell mdl-cell--1-col"></div>
           <div class="mdl-cell mdl-cell--11-col">
             <router-outlet></router-outlet>
          </div>
      </div>
    </div>
  </main>
</div>
