<div>
    <form action="localhost/mysql">
        <fieldset>
            <label for="itmName">Item Name: <input type="text" name="itmName" id="itmName" pattern="^[A-Za-z]{1,40}$" value="{{item.value}}"/></label>
            <label for="itmType">
                Type: 
                <select name="itmType" id="itmType" ng-model="item.type">
                    <option value="" selected="selected">Please select a type</option>
                    <option value="type" ng-repeat="type in types">{{type}}</option>
                </select>
            </label>
        </fieldset>
        <fieldset>
            <label for="itmPrice">Unit Price: <input type="text" name="itmPrice" id="itmPrice" value="{{item.price}}" pattern="^*[1-9]+\.+[0-9][-9]{3,}$"
                placeholder="0.00"></label>
            <label for="itmQuatity">Quantity: <input type="text" name="itmQuantity" id="itmQuantity" value="{{item.quanity}}" pattern="^[0-9]{1,}$"
                placeholder="0"></label>
        </fieldset>
        <input type="submit" value="Save" ng-click="save()"/>
        <input type="reset" value="Clear"/>
        <input type="button" value="Cancel" ng-click="back()"/>
    </form>
</div>