<div *ngIf="editMode">
[EDIT MODE]
</div>

<div>
    
    <form>
        <fieldset>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="itmName" id="itmName" pattern="^[A-Za-z]{1,40}$"
                        />
                <label for="itmName" class="mdl-textfield__label">Item Name</label>
            </div>
            <div class="mdl-selectfield mdl-js-selectfield">
                Type
                <select name="itmType" id="itmType" [(ngModel)]="selType" class="mdl-selectfield__select" >
                    <option *ngFor="let type of types" 
                        [value]="type.ID" >
                    {{type.Description}}
                    </option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" name="itmPrice" id="itmPrice" pattern="^\d+\.\d{2}$"
                />
                <label for="itmPrice" class="mdl-textfield__label">Unit Price: 0.00</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                <input type="text" class="mdl-textfield__input" name="itmQuantity" id="itmQuantity" pattern="^[0-9]{1,}$"
                />
                <label for="itmQuatity" class="mdl-textfield__label">Quantity</label>
            </div>
        </fieldset>
        <br/>
        <a routerLink="/Inventory">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Save" (click)="save(item)"/>
        </a>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset" value="Clear"/>
        <a routerLink="/Inventory" *ngIf="editMode">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Cancel"/>
        </a>
    </form>
</div>