<h2>Inventory</h2>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="LoadDefault()">
  All Stock
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" (click)="LoadLowStock()">
  Low Stock
</button>

<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Product ID</th>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>Type</th>
      <th>Price</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.ID}}</td>
      <td>{{product.Name}}</td>
      <td>{{product.Description}}</td>
      <td>{{product.Price | currency: "AUD" : 2 }}</td>
      <td>{{product.Stock}}</td>
      <td>
       <a routerLink="/Item/{{product.ID}}"> 
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
            <i class="material-icons">create</i>
          </button>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="mode == 'default'">
<button *ngIf="state.skip != 0" (click)="paginate('left')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
  <i class="material-icons">chevron_left</i>
</button>

  page {{page}} of {{maxPage}}

<button *ngIf="state.skip < (maxPage*state.take - state.take)" (click)="paginate('right')" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
  <i class="material-icons">chevron_right</i>
</button>
</div>