<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
                <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
                        <thead>
                                <tr>
                                        <th>Transaction ID</th>
                                        <th>EmployeeID</th>
                                        <th>Status</th>
                                        <th class="mdl-data-table__cell--non-numeric">Date</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr *ngFor="let transaction of transactions" (click)="selectTransaction(transaction.ID)">
                                <td>{{transaction.ID}}</td>
                                <td>{{transaction.EmployeeID}}</td>
                                <td>{{transaction.Status}}</td>
                                <td>{{transaction.Date | date:'dd/MM/yyyy'}}</td>
                                </tr>
                        </tbody>
                </table>
        </div>
</div>