<h2>Add Employee</h2>
<div *ngIf="false">
    [EDIT MODE]
    {{currentEmployee | json}}
    {{newEmployee | json}}
</div>

<div *ngIf="editMode" >
    <span class="mdl-chip mdl-chip--contact">
        <span class="mdl-chip__contact mdl-color--deep_orange mdl-color-text--black">ID:</span>
        <span class="mdl-chip__text" style="min-width:200px; text-align:right;">{{id}}</span>
    </span>
</div>

<div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="EmployeeFirstName" ng-model="currentEmployee.FirstName" type="text" pattern="^[A-Za-z -']{1,}$"/>
            <label for="EmployeeFirstName" class="mdl-textfield__label">First Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" id="EmployeeLastName" ng-model="currentEmployee.LastName" type="text" pattern="^[A-Za-z -']{1,}$"/>
            <label for="EmployeeLastName" class="mdl-textfield__label">Last Name</label>
        </div>
        
        <br/>

        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Save" (click)="SaveEmployee()"/>
        <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="reset" value="Clear" (click)="Clear()"/>
        <a routerLink="/Employees">
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="button" value="Cancel" />
        </a>
 
</div>