
<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th class="mdl-data-table__cell--non-numeric">Last Name</th>
      <th class="mdl-data-table__cell--non-numeric">First Name</th>
      <th>Salary</th>
      <th class="mdl-data-table__cell--non-numeric">Position</th>
      <th class="mdl-data-table__cell--non-numeric">BSB</th>
      <th class="mdl-data-table__cell--non-numeric">AccountNo</th>
      <th class="mdl-data-table__cell--non-numeric">Address</th>
      <th class="mdl-data-table__cell--non-numeric">City</th>
      <th class="mdl-data-table__cell--non-numeric">Postcode</th>
      <th class="mdl-data-table__cell--non-numeric">Home Phone</th>
      <th class="mdl-data-table__cell--non-numeric">Mobile</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.ID}}</td>
      <td>{{employee.FirstName}}</td>
      <td>{{employee.LastName}}</td>
      <td>{{employee.Salary}}</td>
      <td>{{employee.Position}}</td>
      <td>{{employee.BSB}}</td>
      <td>{{employee.AccountNo}}</td>
      <td>{{employee.Address}}</td>
      <td>{{employee.City}}</td>
      <td>{{employee.Postcode}}</td>
      <td>{{employee.HomePhone}}</td>
      <td>{{employee.Mobile}}</td>
      <td>
       <a routerLink="/EmployeeForm/{{employee.ID}}"> 
          <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
            <i class="material-icons">create</i>
          </button>
        </a>
      </td>
    </tr>
  </tbody>
</table>
