<h2>Prediced Sales</h2>

<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Type</th>
                    <th>Price</th>
                    <th>Current Stock</th>
                    <th>Expected Amount Sold</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prediction of predictions">
                    <td>{{prediction.ID}}</td>
                    <td>{{prediction.Name}}</td>
                    <td>{{prediction.Type}}</td>
                    <td>{{prediction.Price | currency : "AUD" : 2}}</td>
                    <td>{{prediction.Stock}}</td>
                    <td>{{prediction.Expected}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>